#question_area {
	margin-top: 5%;
}

#suggestion {
		border: 1px solid #d1d1d1;
    height: auto;
    position: absolute;
    width: 550px;
    margin-top: -15px;
    margin-left: 96px;
		background-color:#F1F1F1;
}

.answers {

}

.results {
    box-sizing: border-box;
    /*cursor: pointer;*/
    margin-bottom: 0.8em;
    padding: 0.5em 0.7em;
    position: relative;
    word-wrap: break-word;
}

#suggestion ul {
	list-style:none;
	padding-left:2px;
}

#suggestion ul li{
	text-align: left;

}

#suggestion ul li:hover{
	background-color:#fff000;
}


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
#loading_image {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader-128x/Preloader_2.gif) center no-repeat #fff;
}